services:
  postgres:
    image: ${POSTGRES_IMAGE}
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        - "CMD"
        - "sh"
        - "-c"
        - "pg_isready -U ${POSTGRES_USER}"
      interval: 5s
      timeout: 3s
      retries: 40

volumes:
  postgres_data:
